<!DOCTYPE html>
<html lang="en" data-theme="default">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HtmxComponents</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="stylesheet" href="~/HtmxComponents.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/components/base/shared/shared-variables.css" asp-append-version="true" />
    <script src="~/components/base/shared/shared-variables.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/components/base/registry/component-styles.css" asp-append-version="true" />    
    <script type="module" src="~/components/base/registry/component-registry.js" asp-append-version="true"></script>

</head>
<body>
    <div class="relative min-h-screen flex flex-col flex-auto flex-shrink-0 bg-gray-50 text-gray-800">
        <partial name="_MenuPartial" />

        <main role="main" class="lg:ml-64 col pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white antialiased min-h-screen">
            <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
                <article class="mx-auto w-full format format-sm sm:format-base lg:format-lg format-blue" id="mainContent">
                    @RenderBody()
                </article>
            </div>
        </main>
    </div>    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
