<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HtmxComponents</title>
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="stylesheet" href="~/HtmxComponents.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/components/base/registry/component-styles.css" />
    <script type="module" src="~/components/base/registry/component-registry.js"></script>
</head>
<body>
    <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 bg-gray-50 text-gray-800">
        <partial name="_MenuPartial" />

        <main id="mainContent" role="main" class="ml-64 col p-5">
            @RenderBody()
        </main>
    </div>    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
