<aside class="fixed flex flex-col top-0 left-0 w-64 bg-white h-full border-r overflow-auto">
    <h4 class="flex items-center justify-center h-14 border-b">
        OpenERP Components
    </h4>

    <div class="flex flex-col py-4 space-y-1 px-5 overflow-y-auto overflow-x-hidden flex-grow">
        <div id="gettingStarted">
            <div class="h-8 text-sm font-light text-gray-500">
                Getting Started
            </div>

            <a href="#Overview" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                <span class="ml-6 text-sm truncate">Overview</span>
            </a>

            <a href="#Quickstart" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                <span class="ml-6 text-sm truncate">Quickstart</span>
            </a>

            <a href="#Changelog" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                <span class="ml-6 text-sm truncate">Changelog</span>
            </a>
        </div>

        <div>
            <div class="h-8 text-sm font-light text-gray-500">Styles</div>

            <a href="#Colors" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                <span class="ml-6 text-sm truncate">Colors</span>
            </a>

            <a href="#Icons" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                <span class="ml-6 text-sm truncate">Icons</span>
            </a>
        </div>
    </div>
</aside>
