@import "../component-styles.css";

.btn{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: var(--spacing-xs) var(--spacing-md);    
    transition: all ease-in-out;
    border-radius: var(--radius-soft);
    border: 0px solid transparent;
}

.btn.btn-primary{
    background-color: var(--primary-500);
    color: var(--white);
}

    .btn.btn-primary:hover {
        background-color: var(--primary-400);
    }
