@import "../../base/shared/shared-variables.css";
@import '../../base/styles/__style-imports.min.css';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--oe-global-sizing-2) var(--oe-global-sizing-3);
    transition: all 200ms ease-in-out;
    border-radius: var(--oe-global-borderRadius-soft);
    border: 0px solid transparent;
    cursor: pointer;
    font-weight: var(--oe-global-fontWeight-bold);
}

/* 
    VARIANTS 
*/
/* SOLID */
.solid.primary {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-primary);
    background-color: var(--oe-global-color-primary);
    color: var(--oe-global-color-white);
}

    .solid.primary:hover {
        background-color: var(--oe-global-color-primary-focus);
        color: var(--oe-global-color-primary-content);
    }

.solid.secondary {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-secondary);
    background-color: var(--oe-global-color-secondary);
    color: var(--oe-global-color-white);
}

    .solid.secondary:hover {
        background-color: var(--oe-global-color-secondary-focus);
        color: var(--oe-global-color-secondary-content);
    }

.solid.accent {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-accent);
    background-color: var(--oe-global-color-accent);
    color: var(--oe-global-color-white);
}

    .solid.accent:hover {
        background-color: var(--oe-global-color-accent-focus);
        color: var(--oe-global-color-accent-content);
    }

.solid.info {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-info);
    background-color: var(--oe-global-color-info);
    color: var(--oe-global-color-white);
}

    .solid.info:hover {
        background-color: var(--oe-global-color-info-focus);
    }

.solid.success {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-success);
    background-color: var(--oe-global-color-success);
    color: var(--oe-global-color-white);
}

    .solid.success:hover {
        background-color: var(--oe-global-color-success-focus);
    }

.solid.warning {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-warning);
    background-color: var(--oe-global-color-warning);
    color: var(--oe-global-color-white);
}

    .solid.warning:hover {
        background-color: var(--oe-global-color-warning-focus);
    }

.solid.error {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-error);
    background-color: var(--oe-global-color-error);
    color: var(--oe-global-color-white);
}

    .solid.error:hover {
        background-color: var(--oe-global-color-error-focus);
    }

/* OUTLINES */

.outline.primary {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-primary);
    background-color: transparent;
    color: var(--oe-global-color-primary);
}

    .outline.primary:hover {
        background-color: var(--oe-global-color-primary);
        color: var(--oe-global-color-white);
    }

.outline.secondary {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-secondary);
    background-color: transparent;
    color: var(--oe-global-color-secondary);
}

    .outline.secondary:hover {
        background-color: var(--oe-global-color-secondary);
        color: var(--oe-global-color-white);
    }

.outline.accent {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-accent);
    background-color: transparent;
    color: var(--oe-global-color-accent);
}

    .outline.accent:hover {
        background-color: var(--oe-global-color-accent);
        color: var(--oe-global-color-white);
    }

.outline.info {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-info);
    background-color: transparent;
    color: var(--oe-global-color-info);
}

    .outline.info:hover {
        background-color: var(--oe-global-color-info);
        color: var(--oe-global-color-info-content);
    }


.outline.success {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-success);
    background-color: transparent;
    color: var(--oe-global-color-success);
}

    .outline.success:hover {
        background-color: var(--oe-global-color-success);
        color: var(--oe-global-color-success-content);
    }


.outline.warning {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-warning);
    background-color: transparent;
    color: var(--oe-global-color-warning);
}

    .outline.warning:hover {
        background-color: var(--oe-global-color-warning);
        color: var(--oe-global-color-warning-content);
    }


.outline.error {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-error);
    background-color: transparent;
    color: var(--oe-global-color-error);
}

    .outline.error:hover {
        background-color: var(--oe-global-color-error);
        color: var(--oe-global-color-error-content);
    }

