.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--oe-global-sizing-2);
    transition: all 200ms ease-in-out;
    border: 0px solid transparent;
    cursor: pointer;
    font-weight: var(--oe-global-fontWeight-bold);
    background-color: transparent;
}

    .button.circle {
        padding: revert;
        aspect-ratio: 1/1; 
        height: fit-content;
    }
/* 
    VARIANTS 
*/
/* FLAT */

.flat.primary {
    color: var(--oe-global-color-primary);    
}

    .flat.primary:hover, .flat.primary:focus, .flat.primary.active {
        color: var(--oe-global-color-primary-focus);
        border-bottom: var(--oe-global-borderWidth-2) solid var(--oe-global-color-primary-focus);
        border-radius: 0;
    }

.flat.secondary {
    color: var(--oe-global-color-secondary);
}

    .flat.secondary:hover, .flat.secondary:focus, .flat.secondary.active {
        color: var(--oe-global-color-secondary-focus);
        border-bottom: var(--oe-global-borderWidth-2) solid var(--oe-global-color-secondary-focus);
        border-radius: 0;
    }


.flat.accent {
    color: var(--oe-global-color-accent);
}

    .flat.accent:hover, .flat.accent:focus, .flat.accent.active {
        color: var(--oe-global-color-accent-focus);
        border-bottom: var(--oe-global-borderWidth-2) solid var(--oe-global-color-accent-focus);
        border-radius: 0;
    }

.flat.info {
    color: var(--oe-global-color-info);
}

    .flat.info:hover, .flat.info:focus, .flat.info.active {
        color: var(--oe-global-color-info-focus);
        border-bottom: var(--oe-global-borderWidth-2) solid var(--oe-global-color-info-focus);
        border-radius: 0;
    }

.flat.warning {
    color: var(--oe-global-color-warning);
}

    .flat.warning:hover, .flat.warning:focus, .flat.warning.active {
        color: var(--oe-global-color-warning-focus);
        border-bottom: var(--oe-global-borderWidth-2) solid var(--oe-global-color-warning-focus);
        border-radius: 0;
    }

.flat.error {
    color: var(--oe-global-color-error);
}

    .flat.error:hover, .flat.error:focus, .flat.error.active {
        color: var(--oe-global-color-error-focus);
        border-bottom: var(--oe-global-borderWidth-2) solid var(--oe-global-color-error-focus);
        border-radius: 0;
    }

.flat.success {
    color: var(--oe-global-color-success);
}

    .flat.success:hover, .flat.success:focus, .flat.success.active {
        color: var(--oe-global-color-success-focus);
        border-bottom: var(--oe-global-borderWidth-2) solid var(--oe-global-color-success-focus);
        border-radius: 0;
    }


/* SOLID */

.solid.primary {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-primary);
    background-color: var(--oe-global-color-primary);
    color: var(--oe-global-color-white);
}

    .solid.primary:hover, .solid.primary:focus, .solid.primary.active {
        background-color: var(--oe-global-color-primary-focus);
        color: var(--oe-global-color-primary-content);
    }

.solid.secondary {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-secondary);
    background-color: var(--oe-global-color-secondary);
    color: var(--oe-global-color-white);
}

    .solid.secondary:hover, .solid.secondary:focus, .solid.secondary.active {
        background-color: var(--oe-global-color-secondary-focus);
        color: var(--oe-global-color-secondary-content);
    }

.solid.accent {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-accent);
    background-color: var(--oe-global-color-accent);
    color: var(--oe-global-color-white);
}

    .solid.accent:hover, .solid.accent:focus, .solid.accent.active {
        background-color: var(--oe-global-color-accent-focus);
        color: var(--oe-global-color-accent-content);
    }

.solid.info {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-info);
    background-color: var(--oe-global-color-info);
    color: var(--oe-global-color-white);
}

    .solid.info:hover, .solid.info:focus, .solid.info.active {
        background-color: var(--oe-global-color-info-focus);
    }

.solid.success {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-success);
    background-color: var(--oe-global-color-success);
    color: var(--oe-global-color-white);
}

    .solid.success:hover, .solid.success:focus, .solid.success.active {
        background-color: var(--oe-global-color-success-focus);
    }

.solid.warning {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-warning);
    background-color: var(--oe-global-color-warning);
    color: var(--oe-global-color-white);
}

    .solid.warning:hover, .solid.warning:focus, .solid.warning.active {
        background-color: var(--oe-global-color-warning-focus);
    }

.solid.error {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-error);
    background-color: var(--oe-global-color-error);
    color: var(--oe-global-color-white);
}

    .solid.error:hover, .solid.error:focus, .solid.error.active {
        background-color: var(--oe-global-color-error-focus);
    }

/* OUTLINES */

.outline.primary {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-primary);
    background-color: transparent;
    color: var(--oe-global-color-primary);
}

    .outline.primary:hover, .outline.primary:focus, .outline.primary.active {
        background-color: var(--oe-global-color-primary);
        color: var(--oe-global-color-white);
    }

.outline.secondary {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-secondary);
    background-color: transparent;
    color: var(--oe-global-color-secondary);
}

    .outline.secondary:hover, .outline.secondary:focus, .outline.secondary.active {
        background-color: var(--oe-global-color-secondary);
        color: var(--oe-global-color-white);
    }

.outline.accent {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-accent);
    background-color: transparent;
    color: var(--oe-global-color-accent);
}

    .outline.accent:hover, .outline.accent:focus, .outline.accent.active {
        background-color: var(--oe-global-color-accent);
        color: var(--oe-global-color-white);
    }

.outline.info {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-info);
    background-color: transparent;
    color: var(--oe-global-color-info);
}

    .outline.info:hover, .outline.info:focus, .outline.info.active {
        background-color: var(--oe-global-color-info);
        color: var(--oe-global-color-info-content);
    }


.outline.success {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-success);
    background-color: transparent;
    color: var(--oe-global-color-success);
}

    .outline.success:hover, .outline.success:focus, .outline.success.active {
        background-color: var(--oe-global-color-success);
        color: var(--oe-global-color-success-content);
    }


.outline.warning {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-warning);
    background-color: transparent;
    color: var(--oe-global-color-warning);
}

    .outline.warning:hover, .outline.warning:focus, .outline.warning.active {
        background-color: var(--oe-global-color-warning);
        color: var(--oe-global-color-warning-content);
    }


.outline.error {
    border: var(--oe-global-borderWidth-2) solid var(--oe-global-color-error);
    background-color: transparent;
    color: var(--oe-global-color-error);
}

    .outline.error:hover, .outline.error:focus, .outline.error.active {
        background-color: var(--oe-global-color-error);
        color: var(--oe-global-color-error-content);
    }

