@{
    ViewData["Title"] = "OpenERP Components Changelog";
    string url = $"https://{ViewContext.HttpContext.Request.Host}/";
}

@section SEO {
    <meta name="description" content="Changelog for OpenERP WebComponents.">
    <meta name="keywords" content="WebComponent Library, WebComponents, OpenERP, Changelog">
    <meta name="author" content="Victor Pérez Asuaje">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="@(url + "Changelog")" />

    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="Changelog for OpenERP WebComponents.">
    <meta property="og:image" content="/img/home-page-openerp-components-23102023.jpg">
    <meta property="og:url" content="@(url + "Changelog")">
    <meta property="og:type" content="website">
}

<header class="mb-10 not-format">
    <oe-title fouc="ease" variant="xl">📚 Changelog 📚</oe-title>
</header>


<oe-title fouc="ease" variant="md" id="version01">v0.1 [ongoing]</oe-title>

<p class="text-gray-500 text-sm italic">
    Last upload: <time datetime="2023-10-22">Oct. 28th, 2023</time>    
</p>


<div class="my-10 grid md:grid-cols-2">

    <div class="w-full p-3 border-r-0 md:mr-5 md:border-r-[2px] ">
        <oe-badge fouc="ease" color="info">to-do</oe-badge>

        <ol class="text-gray-500 list-inside pl-6 my-6">
            <li class="mb-5">
                1- Create components:

                <ul class="space-y-1 text-gray-500 list-inside pl-10 mb-10 pt-2" style="list-style:circle">
                    <li>Dialog / Modal</li>
                    <li>Dropdown</li>
                    <li>Popover</li>
                    <li>Toast</li>
                </ul>
            </li>

            <li class="mb-5">
                2- Complete or create doc pages for completed components:

                <ul class="space-y-1 text-gray-500 list-inside pl-10 mb-10 pt-2" style="list-style:circle">                    
                    <li>Skeleton</li>
                    <li>Title</li>                   
                </ul>
            </li>            

            <li class="mb-5">
                6- Add support for intellisense helpers in Visual Studio (maybe moving to Typescript or adding JSDoc? 🤔).
            </li>       
            
            <li class="mb-5">
                7- Analyze what else can be done about FOUC (Flash-Of-Unstyled-Components). For now, it has the skeleton concept if you add the "fuoc='ease'" property.
            </li>
        </ol>
    </div>

    <div class="w-full p-3 xs:border-y-[2px] md:border-y-0">
        <oe-badge fouc="ease" color="success">completed</oe-badge>

        <ol class="text-gray-500 list-inside pl-6 my-6">
            <li class="mb-5">
                0- Added OpenERP class for WebComponents.
            </li>

            <li class="mb-5">
                1- Create components:

                <ul class="space-y-1 text-gray-500 list-inside pl-10 mb-10 pt-2" style="list-style:circle">
                    <li>Accordion</li>
                    <li>Alert</li>
                    <li>Icon</li>
                    <li>Badge</li>
                    <li>Button</li>
                    <li>Card</li>
                    <li>Skeleton</li>
                    <li>Table</li>
                    <li>Title</li>
                    <li>Tabs</li>
                </ul>
            </li>

            <li class="mb-5">
                2- Complete or create doc pages for completed components:

                <ul class="space-y-1 text-gray-500 list-inside pl-10 mb-10 pt-2" style="list-style:circle">
                    <li>Accordion</li>
                    <li>Alert</li>
                    <li>Icon</li>
                    <li>Badge</li>
                    <li>Button</li>
                    <li>Card</li>
                    <li>Table</li>
                    <li>Tabs</li>
                </ul>
            </li>

            <li class="mb-5">
                <p class="text-rose-500"><s>3- Allowed components to behave like WebComponents or CustomElements though the "with-external-style" property.</s></p>
            </li>

            <li class="mb-5">
                4- Add theming to allow for style changes from the client-side.
            </li>

            <li class="mb-5">
                5- Define better design tokens to ease theming configuration.
            </li>

            <li class="mb-5">
                8- Fix issue with webpack config that is breaking style encapsulation for webcomponents.
            </li>
        </ol>
    </div>

    <div class="w-full p-3 md:border-t-[2px] md:border-r-[2px]">
        <oe-badge fouc="ease" color="error">rejected</oe-badge>

        <ol class="text-gray-500 list-inside pl-6 my-6">
            <li class="mb-5">
                <p>3- Allowed components to behave like WebComponents or CustomElements though the "with-external-style" property. </p>
            </li>
        </ol>
    </div>

    <div class="w-full p-3 md:border-t-[2px]">
        <oe-badge fouc="ease" color="warning">postponed v0.2</oe-badge>

        <ol class="text-gray-500 list-inside pl-6 my-6">
            <li class="mb-5">
                1- Components:

                <ul class="space-y-1 text-gray-500 list-inside pl-10 mb-10 pt-2" style="list-style:circle">
                    <li>Checkbox</li>
                    <li>Drawer</li>
                    <li>Footer</li>
                    <li>Header</li>
                    <li>List</li>
                    <li>Menu</li>
                    <li>Radio button</li>
                    <li>Sidebar</li>
                    <li>Tabs</li>
                    <li>Text fields</li>
                </ul>
            </li>
        </ol>
    </div>
</div>