@{
    ViewData["Title"] = "Home Page";
}

<style>
    
</style>

<div class="bg-slate-200 text-slate-500 p-4">
    This is the equivalent of the custom component in the Light DOM
</div>

<oe-card class="oe-component" >
    <a href="#">
        <h5 class="mb-2 text-2xl fo nt-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

    <oe-button class="oe-component">
        Read more →
    </oe-button>
</oe-card>
