@{
    ViewData["Title"] = "Welcome to OpenERP Components";
    string url = $"https://{ViewContext.HttpContext.Request.Host}/";
}

@section SEO {
    <meta name="description" content="In an era of rapid technological changes and endless JavaScript framework hypes, I believe in the power of Web Standards 📜 that stand the test of time. WebComponents are like that timeless classic in your wardrobe that never goes out of style. They are designed to be compatible with the web's future improvements, making your development life smoother and more future-proof.">
    <meta name="keywords" content="WebComponent Library, WebComponents, OpenERP">
    <meta name="author" content="Victor Pérez Asuaje">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="@(url)" />

    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="In an era of rapid technological changes and endless JavaScript framework hypes, I believe in the power of Web Standards 📜 that stand the test of time.">
    <meta property="og:image" content="/img/home-page-openerp-components-23102023.jpg">
    <meta property="og:url" content="@(url)">
    <meta property="og:type" content="website">
}

<header class="mb-10 lg:mb-6 not-format">
    <oe-title fouc="ease" variant="xl">🚀 Welcome to the OpenERP WebComponent Library! 🚀</oe-title>
</header>

<oe-title fouc="ease" variant="lg">Discover the Future of Web Development with WebComponents</oe-title>

<p class="mb-3 text-gray-500 mb-6">Hey there! I'm Victor Pérez Asuaje, and I'm thrilled to introduce you to the OpenERP WebComponent Library. Why am I so excited? Because this is not just a collection of UI components; it's a journey of what I think will be the future of web development 🌐.</p>

<p class="mb-3 text-gray-500 mb-6"><strong>🚧 Under Construction:</strong> Just like a skyscraper in the making, the library is constantly evolving. I'm using this project as a learning experience, and you get to be part of the journey! Together, we'll keep improving and expanding the library to meet your needs.</p>


<oe-title fouc="ease" variant="md">🤔 Why WebComponents?</oe-title>

<p class="mb-3 text-gray-500 mb-6">In an era of rapid technological changes and endless JavaScript framework hypes, I believe in the power of Web Standards 📜 that stand the test of time. WebComponents are like that timeless classic in your wardrobe that never goes out of style. They are designed to be compatible with the web's future improvements, making your development life smoother and more future-proof.</p>

<p class="mb-3 text-gray-500 mb-6">Also, there has been some movement behind this trend from big companies like Google (<a href="https://m3.material.io/" class="font-medium text-blue-600 underline hover:no-underline" target="_blank">Material</a> & <a href="https://lit.dev/" class="font-medium text-blue-600 underline hover:no-underline" target="_blank">Lit</a>), Microsoft (<a href="https://www.fast.design/" class="font-medium text-blue-600 underline hover:no-underline" target="_blank">Fast UI</a>), Ionic (<a href="https://stenciljs.com/" class="font-medium text-blue-600 underline hover:no-underline" target="_blank">Stencil</a>), Adobe (<a href="https://opensource.adobe.com/spectrum-web-components/" class="font-medium text-blue-600 underline hover:no-underline" target="_blank">Spectrum</a>), etc. who are pushing the standards to make it easier, more customizable and full of new interesting options! 👀</p>


<oe-title fouc="ease" variant="md">📚 Key Objectives</oe-title>

<div class="grid mb-8 rounded-lg lg:mb-12 lg:grid-cols-2 gap-5">
    <oe-card fouc="ease" class="text-center">
        <i class="fa-solid fa-cubes mb-4 text-5xl"></i>
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 h-[100px]">
            <h3 class="text-lg font-semibold text-gray-900">Modularity</h3>
            <p class="my-4">The idea is that components act like building blocks; you can mix and match them to create your masterpiece</p>
        </blockquote>
    </oe-card>

    <oe-card fouc="ease" class="text-center">
        <i class="fa-solid fa-swatchbook mb-4 text-5xl"></i>
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 h-[100px]">
            <h3 class="text-lg font-semibold text-gray-900">Customization</h3>
            <p class="my-4">I want you to be able to make it your own! I will explore the possibilities to allow for a great customizability but with a simple - hopefully - API.</p>
        </blockquote>
    </oe-card>

    <oe-card fouc="ease" class="text-center">
        <i class="fa-solid fa-universal-access mb-4 text-5xl"></i>
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 h-[100px]">
            <h3 class="text-lg font-semibold text-gray-900">Accessibility</h3>
            <p class="my-4">I believe that the web should be for everyone, and the components reflect that commitment to inclusivity.</p>
        </blockquote>
    </oe-card>

    <oe-card fouc="ease" class="text-center">
        <i class="fa-solid fa-repeat mb-4 text-5xl"></i>
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 h-[100px]">
            <h3 class="text-lg font-semibold text-gray-900">Consistent & Reusable</h3>
            <p class="my-4">An unified look and feel for the OpenERP applications!</p>
        </blockquote>
    </oe-card>
</div>

<oe-title fouc="ease" variant="md">🚦 Explore the Categories</oe-title>

<ul class="space-y-1 text-gray-500 list-disc list-inside pl-6 mb-10">
    <li><strong>Layout:</strong> Structure your applications like a pro with components like Dividers, Headers, Footers, and more.</li>

    <li><strong>Interactive:</strong> Engage your users with dynamic elements, from Accordion panels to dynamic Carousels and Toast notifications.</li>

    <li><strong>Forms:</strong> Simplify data input and validation with the collection of form components, including Radio Buttons and Text Fields.</li>

    <li><strong>Content Components:</strong> Organize and present your data with flair using components like Avatars, Badges, and Lists.</li>
</ul>

<div class="w-full flex flex-row bg-white border border-gray-200 rounded-lg shadow px-5 py-10 my-10">
    <div class="flex flex-col items-center flex-1">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://media.licdn.com/dms/image/C4D03AQF9eXpxo-y0Jg/profile-displayphoto-shrink_200_200/0/1517460433240?e=1702512000&v=beta&t=VtQaaWeYtw_15MwBZgxe5hXi1gw6_VSo0pNbTevKVbY" alt="Victor Pérez Asuaje" />
        <h5 class="mb-1 text-xl font-medium text-gray-900">Victor Pérez Asuaje</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">.NET Web Developer</span>
        <div class="flex mt-4 space-x-3 md:mt-6">
            <a href="https://www.linkedin.com/in/victor-perez-asuaje/" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800" target="_blank">
                <i class="fa-brands fa-linkedin-in text-xl"></i>
            </a>
            <a href="https://github.com/VictorPerezAsuaje/OpenERP_WebComponents" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100" target="_blank">
                <i class="fa-brands fa-github text-xl"></i>
            </a>
        </div>
    </div>

    <div class="pl-10 border-l-1 flex flex-col flex-[2]">
        <oe-title fouc="ease" variant="md">👨‍💻 Who Am I?</oe-title>

        <p class="mb-3 text-gray-500 mb-6">I'm Victor Pérez Asuaje, your fellow developer and the driving force behind this project.</p>

        <p class="mb-3 text-gray-500 mb-6">WebComponents have been making waves lately, and I couldn't resist diving into this exciting world. I'm convinced that the future of web development is right here, and I invite you to check the Github repo as this library is Open Sourced. Let's learn, build, and create exceptional web experiences together!</p>
    </div>
</div>