.none{
    display:none;
}

.flex{
    display:flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}


.block{
    display:block;
}

.grid {
    display: grid;
}