@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:host {
    /* BASE COLORS*/
    --primary-700: #6D28D9;
    --primary-600: #7C3AED;
    --primary-500: #8B5CF6;
    --primary-400: #A78BFA;
    --primary-300: #C4B5FD;
    /* SECONDARY COLORS*/
    --secondary-700: #4338ca;
    --secondary-600: #4f46e5;
    --secondary-500: #6366f1;
    --secondary-400: #818cf8;
    --secondary-300: #a5b4fc;
    /* ACCENT COLORS*/
    --accent-700: #0F766E;
    --accent-600: #0D9488;
    --accent-500: #14B8A6;
    --accent-400: #2DD4BF;
    --accent-300: #5EEAD4;
    /* NEUTRAL COLORS */
    --black: #0f172a;
    --gray-700: #1e293b;
    --gray-600: #334155;
    --gray-500: #64748b;
    --gray-400: #cbd5e1;
    --gray-300: #e2e8f0;
    --white: #fefefe;
    /* SHADOWS */
    --shadow-hard: 0px 25px 35px 0px rgba(0, 0, 0, 0.03), 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    --shadow-soft: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    /* FONT FAMILY */
    --primary-font-family: 'Lato', sans-serif;
    --bold-weight: 700;
    --regular-weight: 400;
    --light-weight: 300;
    /* BORDER RADIUS */
    --radius-circle: 50%;
    --radius-rounded: 2rem;
    --radius-soft: 0.5rem;
    /* SPACING */
    --spacing-0: 0;
    --spacing-0-5: 0.25rem;
    --spacing-1: 0.5rem;
    --spacing-1-5: 0.75rem;
    --spacing-2: 1rem;
    --spacing-2-5: 1.25rem;
    --spacing-3: 1.5rem;
    --spacing-3-5: 1.75rem;
    --spacing-4: 2rem;
    --spacing-4-5: 2.25rem;
    --spacing-5: 2.5rem;
    --spacing-5-5: 2.75rem;
    --spacing-6: 3rem;
    --spacing-6-5: 3.25rem;
    --spacing-7: 3.5rem;
}
