@{
    ViewData["Title"] = "Accordions - OpenERP Components";
    string url = $"https://{ViewContext.HttpContext.Request.Host}/";
}

@section SEO {
    <meta name="description" content="">
    <meta name="keywords" content="WebComponent Library, WebComponents, OpenERP, Accordions">
    <meta name="author" content="Victor Pérez Asuaje">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="@(url + "Components/Accordions")" />

    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="">
    <meta property="og:image" content="/img/accordion-component.jpg">
    <meta property="og:url" content="@(url + "Components/Accordions")">
    <meta property="og:type" content="website">
}

<oe-title fouc="ease" variant="xl">OpenERP Accordion</oe-title>

<p class="text-gray-500 mb-6">
    Accordions are a versatile component that allows you to create accordionbed interfaces in your web applications. It offers a user-friendly way to switch between different sections or views by utilizing accordions. This component is designed to be highly customizable, allowing you to define the accordion type, button appearance, and more to match your application's styling and functionality requirements.
</p>

<p class="text-gray-500 mb-6">
    These are a list of properties you can use to customize your accordions:
</p>

<ul class="space-y-2 text-gray-500 list-inside pl-6 mb-10">
    <li>
        <strong>&lt;oe-accordion&gt;</strong>:
        <ul class="space-y-2 text-gray-500 list-disc list-inside pl-6 mb-10">
            <li><strong>space-between="{ 0 | 1 | 2 | 3 | 4 }"</strong>: Optional property. Specifies the space between the tabs. By default is set to "0" and, when that happens, the border radius of the intermediate items have border squared to fit better when closed.</li>
            <li><strong>variant="{ solid | outline | flat }"</strong>: Optional property. It defines if your tab summary will have or not background color. By default is set to "solid".</li>
            <li><strong>color="{ primary | secondary | accent | info | success | warning | error }"</strong>: Optional property. It defines the colors for the background, borders and texts. By default it's set to "primary".</li>
        </ul>
    </li>
    
    <li><strong>&lt;oe-tab&gt;</strong>:
        <ul class="space-y-2 text-gray-500 list-disc list-inside pl-6 mb-10">
            <li><strong>title="{ TEXT }"</strong>: It allows you to set the content of the summary / opener associated with the accordion.</li>
            <li><strong>active</strong>: It allows you to set the predefined active accordion once the component loads. You can have multiple, so you can open as many or as little as you see fit. </li>
        </ul>
    </li>
    
</ul>


<div id="defaultAccordion">
    <oe-title fouc="ease" variant="lg">Default Accordion</oe-title>

    <div class="mt-8">
        <div class="flex justify-end w-full p-4 border border-gray-200 bg-gray-50 rounded-t-xl">
            <a href="https://github.com/VictorPerezAsuaje/OpenERP_WebComponents/blob/master/wwwroot/oeComponents/components/accordion/accordion.js" target="_blank" rel="noopener nofollow noreferrer" class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-indigo-700">
                <i class="fa-brands fa-github text-lg mr-3"></i>
                Check code on GitHub
            </a>
        </div>

        <div id="example" class="flex p-0 bg-white border-gray-200 bg-gradient-to-r border-x h-[50vh]">
            <div class="w-full flex flex-row">
                <div class="flex-[2] min-h-24 block mx-auto my-auto py-12 px-16 flex justify-center w-full h-[50vh] overflow-y-auto" id="accordionDefaultExample">
<oe-accordion id="accordionExample" fouc="ease" class="w-full">
    <oe-tab title="Inside normal text" icon="fa-solid fa-circle-info mr-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel felis gravida, finibus tortor eu, tristique nulla. Phasellus sed augue ipsum. Curabitur interdum odio fringilla mattis vestibulum. Pellentesque mollis nunc justo, nec dignissim quam posuere eu. Quisque laoreet odio urna, nec ullamcorper dolor condimentum non. Vestibulum et urna eu purus rutrum euismod vitae vulputate urna. Etiam est enim, placerat non iaculis et, auctor quis sapien. In hac habitasse platea dictumst. In porta rhoncus sem ut ultricies. Pellentesque vel egestas quam. Curabitur sagittis tortor ac sem commodo mollis. Sed dignissim auctor lacus in dapibus. Nunc ac arcu aliquet, accumsan sem sit amet, imperdiet arcu. Mauris porta justo in enim laoreet efficitur. Cras tincidunt erat ante, dapibus faucibus lacus viverra egestas.
    </oe-tab>    
    <oe-tab title="Wanna see a table inside?" icon="fa-solid fa-triangle-exclamation mr-3" >
        Integer vehicula urna et mauris tincidunt, eu luctus massa luctus. Quisque tempor malesuada blandit. Aliquam nec facilisis turpis. Duis efficitur nulla laoreet nibh semper, a tempus elit rutrum. Aenean mollis porttitor bibendum. Maecenas ut ante ultricies, scelerisque massa sit amet, ultrices velit. Nam ultricies enim sit amet eleifend lacinia. Mauris et consectetur ligula. Fusce eu ullamcorper est. Quisque tristique magna in nisi dictum, ut lacinia quam facilisis. Curabitur porttitor risus non lorem placerat feugiat. Aliquam eu arcu laoreet, gravida augue eu, commodo nunc. Maecenas euismod maximus justo ut hendrerit.

        <oe-table fouc="ease" oe-get="/Components/GetAllTableData"></oe-table>

    </oe-tab>
    <oe-tab title="Dude, cards flyin' in here" icon="fa-solid fa-circle-check mr-3">
        <oe-card>
            Cras interdum efficitur mi et tempor. Morbi id nunc libero. Sed commodo elit eget mattis congue. Sed eleifend ornare ligula. Etiam a egestas turpis. Maecenas iaculis, libero ut accumsan sagittis, eros ipsum dapibus est, sed imperdiet est purus ut urna. Morbi quam dolor, pulvinar ac tellus id, sagittis maximus nisl. Curabitur aliquam facilisis erat, eget maximus ante malesuada eu. Ut scelerisque cursus est sit amet luctus. Vestibulum sapien massa, consectetur quis pellentesque ac, porttitor at tellus. Aenean ut augue faucibus justo elementum semper.
        </oe-card>        
    </oe-tab>
    <oe-tab title="Accordio-ception" icon="fa-solid fa-circle-exclamation mr-3">
        Integer vehicula urna et mauris tincidunt, eu luctus massa luctus. Quisque tempor malesuada blandit. Aliquam nec facilisis turpis. Duis efficitur nulla laoreet nibh semper, a tempus elit rutrum. Aenean mollis porttitor bibendum. Maecenas ut ante ultricies, scelerisque massa sit amet, ultrices velit. Nam ultricies enim sit amet eleifend lacinia. Mauris et consectetur ligula. Fusce eu ullamcorper est. Quisque tristique magna in nisi dictum, ut lacinia quam facilisis. Curabitur porttitor risus non lorem placerat feugiat. Aliquam eu arcu laoreet, gravida augue eu, commodo nunc. Maecenas euismod maximus justo ut hendrerit.

        <oe-accordion variant="outline" color="info" class="w-full">
            <oe-tab title="Accordion 2 title" icon="fa-solid fa-circle-info mr-3">
                Integer vehicula urna et mauris tincidunt, eu luctus massa luctus. Quisque tempor malesuada blandit. Aliquam nec facilisis turpis. Duis efficitur nulla laoreet nibh semper, a tempus elit rutrum. Aenean mollis porttitor bibendum. Maecenas ut ante ultricies, scelerisque massa sit amet, ultrices velit. Nam ultricies enim sit amet eleifend lacinia. Mauris et consectetur ligula. Fusce eu ullamcorper est. Quisque tristique magna in nisi dictum, ut lacinia quam facilisis. Curabitur porttitor risus non lorem placerat feugiat. Aliquam eu arcu laoreet, gravida augue eu, commodo nunc. Maecenas euismod maximus justo ut hendrerit.
            </oe-tab>
            <oe-tab title="Accordion 3 title" icon="fa-solid fa-circle-info mr-3">
                Cras interdum efficitur mi et tempor. Morbi id nunc libero. Sed commodo elit eget mattis congue. Sed eleifend ornare ligula. Etiam a egestas turpis. Maecenas iaculis, libero ut accumsan sagittis, eros ipsum dapibus est, sed imperdiet est purus ut urna. Morbi quam dolor, pulvinar ac tellus id, sagittis maximus nisl. Curabitur aliquam facilisis erat, eget maximus ante malesuada eu. Ut scelerisque cursus est sit amet luctus. Vestibulum sapien massa, consectetur quis pellentesque ac, porttitor at tellus. Aenean ut augue faucibus justo elementum semper.
            </oe-tab>
            <oe-tab title="Accordion 4 title" icon="fa-solid fa-circle-info mr-3">
                Integer vehicula urna et mauris tincidunt, eu luctus massa luctus. Quisque tempor malesuada blandit. Aliquam nec facilisis turpis. Duis efficitur nulla laoreet nibh semper, a tempus elit rutrum. Aenean mollis porttitor bibendum. Maecenas ut ante ultricies, scelerisque massa sit amet, ultrices velit. Nam ultricies enim sit amet eleifend lacinia. Mauris et consectetur ligula. Fusce eu ullamcorper est. Quisque tristique magna in nisi dictum, ut lacinia quam facilisis. Curabitur porttitor risus non lorem placerat feugiat. Aliquam eu arcu laoreet, gravida augue eu, commodo nunc. Maecenas euismod maximus justo ut hendrerit.
            </oe-tab>
        </oe-accordion>

    </oe-tab>
</oe-accordion>

                </div>

                <div id="playground" class="border-l-4 flex-1 py-4 px-5 overflow-auto">
                    <oe-title fouc="ease" variant="md">Playground</oe-title>

                    <details>
                        <summary class="mt-5 mb-3">Space between</summary>
                        <div class="mt-5">
                            <input type="number" id="spaceBetween" name="spaceBetween" value="0" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" min="0" max="4" step="1" placeholder="Space between tabs..." oninput="setAttributeValueToExample('accordionExample',this.name, this.value)">
                        </div>
                    </details>

                    <details>
                        <summary class="mt-5 mb-3">Variants</summary>
                        <div class="pl-3 flex flex-col gap-1">
                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="variant" value="solid" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)" checked>
                                Solid
                            </label>

                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="variant" value="outline" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)">
                                Outline
                            </label>

                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="variant" value="flat" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)">
                                Flat
                            </label>
                        </div>
                    </details>

                    <details>
                        <summary class="mt-5 mb-3">Colors</summary>
                        <div class="pl-3 flex flex-col gap-1">
                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="color" value="primary" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)" checked>
                                Primary
                            </label>

                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="color" value="secondary" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)">
                                Secondary
                            </label>

                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="color" value="accent" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)">
                                Accent
                            </label>

                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="color" value="info" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)">
                                Info
                            </label>

                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="color" value="success" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)">
                                Success
                            </label>

                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="color" value="warning" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)">
                                Warning
                            </label>

                            <label class="flex items-center text-sm font-medium text-gray-700">
                                <input type="radio" name="color" value="error" class="mr-4" onchange="setAttributeValueToExample('accordionExample',this.name, this.value)">
                                Error
                            </label>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>

    <div class="relative border-gray-200 border-y border-x">
        <div class="grid w-full grid-cols-2 border-b border-gray-200 bg-gray-50 rounded-t-md">
            <ul class="flex text-sm font-medium text-center text-gray-500">
                <li>
                    <span class="inline-block w-full p-2 px-3 text-gray-800 bg-gray-100 border-r border-gray-200">HTML</span>
                </li>
            </ul>

            <div class="flex justify-end">
                <accordion type="accordion" class="flex items-center px-3 py-2 text-xs font-medium text-gray-600 bg-gray-100 border-l border-gray-200 hover:text-blue-700" onclick="copyTextContent('sampleCode')">
                    <i class="fa-solid fa-clipboard text-md mr-2"></i>
                    <span>Copy</span>
                </accordion>
            </div>
        </div>
        <div class="relative">
            <pre class="language-html flex" style="background-color:var(--oe-global-color-white);">
            <code class="language-html " data-lang="html" id="sampleCode" data-load-from="accordionDefaultExample"></code> 
            </pre>
        </div>
    </div>
</div> 

@section Scripts{
    <script src="/js/pages/accordion.js" asp-append-version="true"></script>
}